{% extends 'base.html.twig' %}

{% block content %}
<a href="{{ path('app_login') }}"><button>Log In</button></a>
    <article class="list">
        <h1>To Do List</h1>
            <div class="task"> 
                <h2>What do you have to do?</h2> 
                <form method="POST" action=" {{path('create_task')}} ">
                    <div class="task__area">
                        <input name="title" type="text" id="MyInput" placeholder="Please, enter a task...">
                    </div>
                    <div class="task__button">
                        <button type="submit">Submit A New Task</button>
                    </div>
                </form>
            </div>
                
            <div class="item__list">
                <h2>Tasks To Do</h2>
                <h3>To cross out a task, click on it</h3>
                <div class="item">
                    <p>
                        <ul>
                        {% for task in tasks %}
                            <li> 
                                <a {% if task.status %}class="checked"{% endif %} href="{{path('switch_status',{'id':task.id})}}"><span class="task-list-item"> {{ task.title }} </span></a>
                                <a onclick="return confirm('Are you sure to delete?')" href="{{path('task_delete',{'id':task.id})}}"><span class="close">X</span></a>
                            </li>
                        {% endfor %}
                        </ul>
                    </p>
                </div>
            </div>
    </article>  
{% endblock %}



